{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base HTML with Headbar</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    {% comment %} <header class="py-3 mb-3 border-bottom">
        <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;"> {% endcomment %}
    <header class="py-3 mb-3 border-bottom text-bg-dark">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <span class="d-flex align-items-center mb-2 mb-lg-0 me-1 fw-bold text-white text-decoration-none  border-right">
            Блог Евгения Самородова
        </span>
        <div class="vr ms-1"></div>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{%url 'about'%}" class="nav-link px-2 text-white">Обо мне</a></li>
          <li><a href="{%url 'all'%}" class="nav-link px-2 text-white">Все посты</a></li>
        </ul>
        <div class="d-flex align-items-center ml-auto">
            <form action="#" method="get">
                <button type="submit" class="btn btn-outline-light me-2">Войти</button>
            </form>
            <form action="#" method="get">
                <button type="submit" class="btn btn-warning">Регистрация</button>
            </form>
          
          
        </div>
      </div>
    </div>
  </header>
    <main>
        {% block content %}No content{% endblock %}
      </main>
</body>