{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container col-xxl-12 px-4 py-5">
    <div class="row align-items-center">
      <div class="col-auto">
        <img src="{% static 'img/MyPhoto.jpeg' %}" alt="Avatar" height="600px">
      </div>
      <div class="col-12 col-lg-5">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Кто я?</h1>
        <p class="lead">Меня зовут Женя, мне 18, и я живу в Липецке</p>
        <p class="lead">В этом году я заканчиваю 11 класс школы ЦПМ. Учусь на очно-заочном.</p>
        <p class="lead">В 10 классе стал победом ВСОШ по экономике и призером по физике. В 11 стал призером по обоим предметам.</p>
        <p class="lead">Поступаю в лучший вуз в пределах МКАД - ВШЭ на прикладную математику и информатику.</p>
        <p class="lead">Люблю получать от жизни удовольствие, и в этом мне отлично помогают гранты от Сергея Собянина. Люблю путешествия, готовить, залипать в соцсети, читать художественную литературу и смотреть сериалы.</p>
      </div>
    </div>
  </div>
{% endblock%}