{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center">
<div class="container">
    <div class="row align-items-center">
        <div class="col-auto">
            <img src="{% static 'img/MyPhoto.jpeg' %}" alt="Avatar" height="512px">
        </div>
        <div class="col-5">
            <h2>Кто я?</h2>
            <p >Меня зовут Женя, мне 18, и я живу в Липецке.</p>
            <p >В этом году я заканчиваю 11 класс школы ЦПМ. Учусь на очно-заочном.</p>
            <p >В 10 классе стал победом ВСОШ по экономике и призером по физике. В 11 стал призером по обоим предметам.</p>
            <p >Поступаю в лучший вуз в пределах МКАД - ВШЭ на прикладную математику и информатику.</p>
            <p >Люблю получать от жизни удовольствие, и в этом мне отлично помогают гранты от Сергея Собянина. Люблю путешествия, готовить, залипать в соцсети, читать художественную литературу и смотреть сериалы.</p>
        </div>
    </div>
</div>
</div>
{% endblock%}